$black: #111111;
$dark-grey: #011627;
$gunmetal: #2b303a;
$trolly-grey: #7c7c7c;
$platinum: #eee5e9;
$ghost-white: #fafaff;
$white: #fafffd;

$cyan-blue: #41ead4;
$light-blue: #4cc4fa;
$corn-flower-blue: #92dce5;

$lime-green: #a2d729;
$orange: #fa824c;
$red: #f71735;
$dark-red: #44070f;
